@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-charcoalVoid: #222222;
  --color-solarFlare: #FAFF00;
  --font-enconde-sans: "Encode Sans", sans-serif;
}

*{
  box-sizing: border-box;
}

.Home{
  background-image: url('../public/fitnessMan.png');
}

.membership{
  scrollbar-width: none;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
